.list-box {
    padding: 20px;
    .filter-box {
        padding: 20px;
        border: 1px solid grey;
    }
    .stats {
        padding: 20px;
        font-size: 16px;
        font-weight: bold;
        color: darkslateblue;
    }
}